@import "tailwindcss";

@theme {
  --color-primary: #0099CC;
  --color-dark: #1A1A2E;
  --color-light-gray: #F5F5F5;
  --color-dark-gray: #333333;
  --color-medium-gray: #666666;
  --color-light-blue: #DCF0F7;

  --font-sans: "Inter", sans-serif;
}
